exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(svpChange2, .registration = TRUE)

importFrom("stats", "rbinom", "rexp", "rgeom", "rnbinom", "rnorm", "rpois")
importFrom("stats", "quantile")

importFrom(methods, new)
